<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add person</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="container">

      <!-- formulario que llama la ruta addStudent por el metodo POSt -->
      <form action="/add-person" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input required type="text" name="name" id="name" placeholder="example: juan">
        </div>

        <div class="form-group">
          <label for="nss">NSS:</label>
          <input required type="text" name="nss" id="nss" placeholder="example: xxxxxxxxxxxxxxxx">
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" name="age" id="age" placeholder="exmple: 18">
        </div>

        <div class="form-group">
          <label for="bloodType">Blood Type:</label>
          <input required type="text" name="bloodType" id="bloodType" placeholder="example: A+">
        </div>

        <div class="submit-container">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</body>

</html>